:root {

    --iris-color: #4D5AE5;
    --ocean-color: #404BBF;
    --navi-blue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --light-slate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navi-blue-modal-color: rgba(46, 47, 66, 0.4);
    --gray-color: rgba(46, 47, 66, 0.7);
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;

}

/**
  |============================
  | Custom Studio style
  |============================
*/

body {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--slate-color);
    background-color: var(--white-color);

    /* font-family: 'Quicksand', sans-serif;
        font-family: 'Raleway', sans-serif; */

    /**
  |============================
  | Resets
  |============================
*/

}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

/* Base styles for small devices */

.container {

    min-width: 320px;
    max-width: 428px;
    margin: 0 auto;
    padding: 0 15px;

    /* outline: 2px solid teal; */
    /* width: 1158px; */

}

/* Tablet screen  */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* Desktop screen  */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

.section {

    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: 1157px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/**
  |============================
  | HEADER
  |============================
*/

/* Navigation */

.list {
    list-style: none;

}

.link {
    text-decoration: none;

}

.title-hidden {
    display: none;
}

@media only screen and (max-width: 767px) {

    .header-address,
    .header-list {

        display: none;
    }

    .header-container {
        padding: 24px 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .header-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav-link {

        padding: 24px 0;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        outline: none;
        color: var(--navi-blue-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address {
        font-style: normal;

    }

    .header-address-link {

        outline: none;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
        letter-spacing: 0.02em;
        color: var(--slate-color);
        /* padding: 24px 0; */
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .address-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }


    .header-list {

        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navi-blue-color);
        justify-content: space-between;
        width: 261px;
        display: flex;
        gap: 40px;
        padding: 24px 0;
    }

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header-link {

    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--navi-blue-color);

}

.header-nav-logo {

    color: #404bbf;
}



.gallery-pic-title:hover,
.gallery-pic-title:focus,
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--ocean-color);

}

@media only screen and (min-width: 1158px) {


    .header-address {
        font-style: normal;

    }

    .address-container {
        display: flex;
        gap: 40px;
        margin-left: 332px;
    }

    .header-address-link {

        outline: none;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-color);
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .header-list {

        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navi-blue-color);
        justify-content: space-between;
        width: 261px;
        display: flex;
        gap: 40px;
        padding: 24px 0;
    }

    .header-nav-link {

        padding: 24px 0;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        outline: none;
        color: var(--navi-blue-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }


}

/* .header-address-link:active, */
.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean-color);

}

.header-list .current {
    color: var(--iris-color);
    position: relative;

}

.header-list .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 13px;
    border-radius: 12px;
    background-color: rgb(136, 180, 231);
    /* border: 2px solid #31D0AA; */
    border: thick double rgb(61, 71, 51);
    left: 0;
    bottom: -1px;
}


/**
  |============================
  | Section Hero
  |============================
*/


/* .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/bg/bg_mob@1x.jpg);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 432px;
} */


@media screen and (min-width: 320px) and (max-width: 428px) {
    .hero {
        /* padding: 112px 0 112px 0; */
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_mob@1x.jpg);
        background-size: cover;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: 1440px;
        margin: 0 auto;
        height: 432px;
    }

    .section-hero-title {

        margin: 0 auto;
        text-align: center;
        max-width: 320px;
        margin-bottom: 72px;
        font-size: 36px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--white-color);

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_mob@2x.jpg);
            background-size: cover;
        }
    }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
    .hero {
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_tab@1x.jpg);
        /* padding: 112px 0 112px 0; */
    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_tab@2x.jpg);
            background-size: cover;
        }
    }
}

/* PC version */

@media screen and (min-width: 769px) {
    .hero {
        background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_pc@1x.jpg);
        padding: 188px 0 188px 0;
        background-size: cover;
    }




    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg/bg_pc@2x.jpg);
            background-size: cover;
        }
    }
}


/* Retina Screen  */

/* @media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/bg/bg_mob@2x.jpg);
    }
}

@media only screen and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/bg/bg_tab@1x.jpg);

    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/bg/bg_tab@2x.jpg);
        }
    } */

.section-hero-title {

    margin: 0 auto;
    text-align: center;
    max-width: 320px;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);

}



@media only screen and (min-width: 768px) {
    /* .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
            url(../images/bg/bg_pc@1x.jpg);

    }


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
                url(../images/bg/bg_pc@2x.jpg);
        }
    } */

    .section-hero-title {

        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;


    }
}

@media only screen and (min-width: 1158px) {
    .section-hero-title {
        margin-bottom: 48px;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;

        max-width: 1440px;
        margin: 0 auto;
        height: 600px;
    }
}

.hero-btn,
.modal-form-button,
.subscribe-form-button {

    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    min-width: 169px;
    display: block;
    background-color: var(--iris-color);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    /* IRIS */
    color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-btn:hover,
.hero-btn:focus,
.modal-form-button:focus,
.subscribe-form-button:focus {
    /* OCEAN */
    background-color: var(--ocean-color);


}

/**
  |============================
  | Benefits
  |============================
*/
/* Mobile benefits */

@media screen and (max-width: 767px) {
    .benefits-container {
        display: block;
    }

    .benefits-list:not(:last-child) {
        margin-bottom: 72px;

    }

    .benefits-containet-item {
        display: none;
        margin-bottom: 8px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--cloud-color);
    }

    .benefits-title {
        margin-bottom: 8px;
        font-size: 36px;
        text-align: center;
        line-height: 1.12;
        letter-spacing: 0.72px;
        color: var(--navi-blue-color);
    }

    .benefits-item {

        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--slate-color);

    }
}

/* Tablet benefits  */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .benefits-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;

    }

    .benefits-list {

        margin-bottom: 0;
        flex-basis: calc((100% - 24px) / 2);
    }

    .benefits-containet-item {
        display: none;

    }

    .benefits-title {
        margin-bottom: 8px;
        font-size: 36px;
        line-height: 1.12;
        letter-spacing: 0.72px;
        color: var(--navi-blue-color);
    }


    .benefits-item {

        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        color: var(--slate-color);
        min-width: 264px;

    }
}

/* Mobile benefits */
/* Tablet benefits  */
/* Desktop benefits  */
@media screen and (min-width: 1158px) {

    .benefits-container {
        display: flex;
        gap: 24px;
    }

    .benefits-list {

        width: calc ((100% - 3 * 24px) / 4);
    }

    .benefits-containet-item {

        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        height: 112px;
        border-radius: 4px;
        background-color: #f4f4fd;

    }


    .benefits-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navi-blue-color);

    }

    .benefits-item {

        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate-color);
        min-width: 264px;

    }
}


.benefits-containet-item:hover,
.benefits-containet-item:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/**
  |============================
  | What are we Doing
  |============================
*/
/* Mobile & */
/* Tablet Projects  */

@media only screen and (max-width: 1157px) {


    .projects {
        display: none;
    }
}


.projects {
    padding-top: 0;
}

.project-container {
    display: flex;
    gap: 24px;

}

.project-item {


    width: calc((100% - 2 *24px) / 3);
}

.cover-title {
    margin-bottom: 72px;
}

.cover-title,
.team-title {

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navi-blue-color);

}


/**
  |============================
  | Our Team
  |============================
*/
/* Mobile Projects */
@media only screen and (max-width: 767px) {
    .section-team {
        background-color: var(--cloud-color);
    }

    .team-container {
        display: flex;
        flex-direction: column;
        gap: 72px;
        justify-content: center;
        align-items: center;
    }

    .team-list {

        background: var(--white-color);
        width: 264px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px
    }

}

/* Tablet Projects  */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .section-team {
        background-color: var(--cloud-color);
        padding: 96px 0;
    }

    .team-container {

        display: flex;
        row-gap: 64px;
        column-gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .team-list {

        background: var(--white-color);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px
    }

}

/* Desktop Projects  */
@media only screen and (min-width: 1158px) {


    .section-team {
        background-color: var(--cloud-color);
        padding: 120px 0;


    }

    .team-container {

        display: flex;
        gap: 24px;

    }


    .team-list {

        background: var(--white-color);
        width: calc((100% - 72px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px
    }
}



.team-title {

    margin-bottom: 72px;
}



.team-cont-employee {

    padding: 32px 0;
}



.team-social-list {

    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

}

.team-social-link {

    outline: none;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--iris-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social {
    display: flex;
    fill: var(--cloud-color);
    justify-content: center;
    align-items: center;
    margin: auto;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--ocean-color);
}

.team-social-link:hover .team-social,
.team-social-link:focus .team-social {
    fill: var(--cloud-color);
}

.team-title-member {

    text-align: center;
    /* margin-top: 32px; */
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--navi-blue-color);

}

.team-item-member {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);


}


/**
  |============================
  | Customers
  |============================
*/

.customer-section {

    background: #FFF;

}

.customer-title {
    color: var(--navi-blue-color);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-family: Roboto;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/* Mobile customers */
@media only screen and (max-width: 767px) {
    .customer-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .customer-item {

        width: 190px;
        height: 88px;
        /* flex-basis: calc((100% - 16px) / 2); */

    }
}

/* Tablet customers */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .customer-list {

        display: flex;
        row-gap: 72px;
        column-gap: 24px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .customer-item {

        width: 168px;
        height: 88px;
        /* flex-basis: calc((100% - 2*24px) / 3); */

    }
}

/* Desktop customers */
@media only screen and (min-width: 1158px) {
    .customer-list {

        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;

    }

    .customer-item {

        width: calc((100% - 120px) / 6);
        height: 88px;
    }
}


.customer-link {
    outline: none;
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-slate-color);
    fill: currentColor;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.customer-link:hover,
.customer-link:focus {
    border-color: var(--ocean-color);
    color: var(--ocean-color);
}


.customer-logo {
    fill: currentColor;

}

/**
  |============================
  | Footer
  |============================
*/

/* Mobile footer */
@media only screen and (max-width: 767px) {
    .footer {
        background: var(--navi-blue-color);
        padding: 96px 0;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;

    }

    .footer-flex-cont {
        display: flex;
        gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 72px;
        /* margin: 0 auto; */
    }

    .footer-link {

        display: inline-block;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris-color);
    }

    .footer-social-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 72px;
    }

    .footer-sibscribe {
        /* display: flex; */
        /* flex-direction: column;
        justify-content: center;
        align-items: center; */

    }

    .footer-item {

        margin-top: 16px;
        max-width: 264px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud-color);

    }

    .footer-social-item {
        color: #FFF;
        font-family: Roboto;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
        text-align: center;
    }

    .subscribe-form {

        /* display: block; */
        /* flex-direction: row; */
        flex-wrap: wrap;

    }


    .subscribe-form-imput {

        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        /* width: 398px; */
        width: 100%;
        height: 40px;
        color: var(--white, #FFF);
        padding: 8px 16px;

        font-size: 12px;
        font-family: Roboto;
        letter-spacing: 0.04em;
        line-height: 1.5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    }

    .subscribe-form-label {
        display: block;
        min-width: 100%;
        margin-bottom: 16px;
    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        min-width: 165px;

    }
}

/* Tablet footer */
@media only screen and (min-width: 768px) and (max-width: 1157px) {


    .footer {
        background: var(--navi-blue-color);
        /* padding: 96px 0 px; */
    }

    .footer-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: center;
        padding: 96px 108px;

    }

    .footer-flex-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .footer-link {

        display: inline-block;
        padding-bottom: 16px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris-color);
    }

    .footer-social-container {
        display: flex;
        margin-bottom: 28px;
        flex-direction: column;
        justify-content: center;

    }

    .footer-sibscribe {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .footer-item {

        max-width: 264px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud-color);
    }

    .footer-social-item {
        color: #FFF;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        margin-bottom: 16px;
    }

    .subscribe-form {

        display: flex;
        flex-direction: row;
        gap: 24px;

    }


    .subscribe-form-imput {

        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 264px;
        height: 40px;
        color: var(--white, #FFF);
        padding: 8px 16px;
        margin-bottom: 16px;
        font-size: 12px;
        font-family: Roboto;
        letter-spacing: 0.04em;
        line-height: 1.5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        max-width: 165px;
        max-height: 40px;

    }
}

/* Desktop footer */
@media only screen and (min-width: 1158px) {



    .footer {
        background: var(--navi-blue-color);
        padding-top: 100px;
        padding-bottom: 100px;

    }

    .footer-link {

        display: inline-block;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--iris-color);

    }

    .footer-item {

        margin-top: 16px;
        max-width: 264px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--cloud-color);

    }

    .footer-flex-cont {

        margin-right: 120px;

    }

    .footer .footer-flex {
        display: flex;

    }

    .footer-sibscribe {

        margin-left: 80px;

    }

    .subscribe-form-imput {

        background-color: transparent;
        border-radius: 4px;
        border: 1px solid var(--white, #FFF);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 264px;
        height: 40px;
        color: var(--white, #FFF);
        padding: 8px 16px;
        font-size: 12px;
        font-family: Roboto;
        letter-spacing: 0.04em;
        line-height: 1.5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    }

    .subscribe-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        min-width: 165px;
        margin-left: 24px;

    }
}

.footer-logo {

    color: var(--cloud-color);
}

.footer-social-list {

    display: flex;
    gap: 16px;
}

.footer-social-item {
    color: #FFF;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.social.team-social-link:hover,
.social.team-social-link:focus {

    background-color: var(--green-color);
}

/**
  |============================
  | Footer Subscribe Form
  |============================
*/


.subscribe-form {

    display: flex;

}

.subscribe-form-label {}



.subscribe-form-imput::placeholder {
    justify-content: center;
    align-items: center;
    color: var(--white, #FFF);

}

.subscribe-form-icon {
    display: flex;
    margin-left: 16px;

}



/**
  |============================
  | Portfolio style
  |============================
*/

/* Overlay  */

.overlay-cards {
    position: relative;
    overflow: hidden;
}

.overlay-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    padding: 40px 32px;
    background-color: var(--iris-color);
    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.cards-list .link:hover .overlay-item,
.cards-list .link:focus .overlay-item {
    transform: translateY(0);


}



/* Buttons */

.section-buttons {
    padding-top: 96px;
    padding-bottom: 120px;
    border-top: 1px solid var(--cornflower-color);
}

.buttons {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;


}

.buttons-item {

    width: calc ((100% - 4 * 24px) / 5);

}

/* Cards */

.cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.cards-list {
    width: calc((100% - 48px) / 3);
    background: var(--white-color);
}

.cards-container:hover,
.cards-container:focus {


    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}

.cards-container {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
    margin-bottom: 8px;
}


.gallery-btn-list {

    font-weight: 500;
    line-height: 1.5;

    text-align: center;
    letter-spacing: 0.04em;
    /* IRIS */
    color: var(--iris-color);
}

.gallery-btn {


    padding: 12px 24px;
    background: var(--cloud-color);
    color: var(--iris-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: 1px solid var(--cornflower-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.gallery-btn:hover,
.gallery-btn:focus {
    background: var(--ocean-color);
    color: var(--white-color);
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);

}

/* Section Callery 1-9 photos */

.gallery-pic-title {

    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--navi-blue-color);

}


.callery-pic-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.callery-pic-link:hover,
.callery-pic-link:focus {
    outline: none;
    color: var(--ocean-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.gallery-pic-item {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--slate-color);

}

/**
  |============================
  | Modal win
  |============================
*/

.backdrop {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navi-blue-modal-color);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
    background-color: var(--dairy-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (max-width: 767px) {
    .modal {

        max-width: 392px;
        width: 100%;


    }

    .modal-caption {
        max-width: 360px;
        min-height: 10px;

    }

}

@media only screen and (min-width: 768px) {
    .modal {

        max-width: 408px;

    }
}


.modal-icon {
    fill: var(--navi-blue-color);
    width: 8px;
    height: 8px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: var(--cornflower-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean-color);
    border: none;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--white-color);
}

.modal-caption {

    display: block;
    text-align: center;
    margin-bottom: 16px;
    max-width: 360px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--navi-blue-color);
}

/**
  |============================
  | Modal Form
  |============================
*/

.modal-container {
    margin-bottom: 8px;

}

.modal-input-container {
    position: relative;
}



.modal-form-label {

    display: block;
    margin-bottom: 4px;
    color: var(--light-slate-color);
    font-size: 12px;
    font-family: Roboto;
    line-height: 1.17;
    letter-spacing: 0.48px;

}

.modal-form-cont-comment {
    margin-bottom: 16px;
}


.modal-form-input {


    padding: 11px 38px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    font-size: 18px;
    border: 1px solid rgba(46, 47, 66, 0.40);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-input:focus {
    border-color: var(--iris-color);

}

.modal-form-icon {
    fill: var(--navi-blue-color);
    position: absolute;
    left: 16px;
    bottom: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus+.modal-form-icon {
    fill: var(--iris-color);

}

/* .modal-form-button {} Same stile on the TOP  */

.modal-form-button {
    margin: 24px auto auto;
}

.modal-form-comment {


    font-size: 12px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navi-blue-modal-color);
    resize: none;
    outline: transparent;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: var(--iris-color);
}

.modal-form-comment::placeholder {
    font-family: Roboto;
    font-size: 12px;
    color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
}

/* CHECKBOX  */

.modal-form-cont-checkbox {

    margin-bottom: 24px;

}

.modal-form-agreement {

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}

.modal-form-checkbox {}

.modal-form-custom-checkbox {
    margin-right: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    fill: transparent;

    border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-form-checkbox:checked+.modal-form-agreement .modal-form-custom-checkbox {

    border: none;
    background-color: #404BBF;
    fill: var(--cloud-color);

}

.modal-form-checkbox-icon {
    opacity: 0;
    transform: scale(0);

}

.modal-form-checkbox:checked+.modal-form-agreement .modal-form-custom-checkbox .modal-form-checkbox-icon {
    opacity: 1;
    transform: scale(1) rotate(360deg);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement-desc {

    color: var(--light-slate-color);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.48px;
}

.modal-form-link {

    color: var(--iris-color);
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.48px;
    text-decoration: underline;
}

/**
  |============================
  | Mobile Menu
  |============================
*/

.menu-toggle {
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
    stroke: var(--navi-blue-color)
}

.menu-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 35px 24px 40px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    min-height: 24px;
    min-width: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid #E7E9FC;

}

.menu-toggle-icon {
    fill: var(--navyblue, #2E2F42);

}

.mobile-menu-list {

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navi-blue-color);
    justify-content: space-between;
    width: 261px;
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.mobile-menu-link {


    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: var(--navyblue, #2E2F42);
    letter-spacing: 0.72px;
    text-transform: capitalize;

}

.mobile-menu {
    margin-bottom: auto;
}

.address-mobile-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mobile-address-list {

    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--slate-color);

}

.mobile-address-list .phone-address-link {
    color: var(--slate-color);

}

.mobile-address-list .email-address-link {

    font-size: 20px;
    text-transform: none;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: var(--slate-color);
}

@media only screen and (max-width: 427px) {

    .mobile-address-list {

        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.72px;
        text-transform: capitalize;

    }

    .mobile-address-list .email-address-link {

        font-size: 16px;
        text-transform: none;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: 0.4px;
        color: var(--slate-color);
    }

    .address-mobile-container {
        gap: 20px;
    }

    .mobile-menu-list .current,
    .mobile-address-list .currentt {
        color: var(--iris-color)
            /* position: relative; */

    }
}

.mobile-menu-link:hover,
.mobile-menu-link:focus,
.phone-address-link:hover,
.phone-address-link:focus,
.email-address-link:hover,
.email-address-link:focus {
    outline: none;
    color: var(--ocean-color);

    /* text-decoration: none; */
    /* font-style: inherit; */
}

.mobile-social-list {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 40px;

}


@media only screen and (min-width: 428px) {
    .mobile-social-list {

        gap: 56px;
    }

    .mobile-menu-list .current {
        color: var(--iris-color);
        /* position: relative; */


    }

    /* .mobile-menu-list .current::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: red;
        left: 0;
        bottom: -3px;
    } */

    .mobile-address-list .currentt {
        color: var(--iris-color);


    }

}

.mobile-social-item {

    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: var(--iris-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social {
    display: flex;
    fill: var(--cloud-color);
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.mobile-social-link:hover,
.mobile-social-link:focus {
    background-color: var(--ocean-color);
}

.mobile-social-link:hover .mobile-social,
.mobile-social-link:focus .mobile-social {
    fill: var(--cloud-color);
}

/* .currentt {
    color: var(--iris-color);
    position: relative;

} */

/* .currentt::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: green;
    left: 0;
    bottom: -1px;
} */